
@{
    Layout = null;
}
@model Blog.Models.Other.BlogData
<!DOCTYPE html>

<form asp-action="ModifyBlogData">
    <ul>
        <li>
            <label>Blog Name</label>
            <input asp-for="BlogName" value="@Model.BlogName" />
        </li>
        <li>
            <label>Author Name</label>
            <input asp-for="AuthorName" value="@Model.AuthorName" />
        </li>
        <li>
            <label>Email Address</label>
            <input asp-for="MailAddress" value="@Model.MailAddress" />
        </li>
        <li>
            <label>Description</label>
            <textarea asp-for="Description">@Model.Description</textarea>
        </li>
        <li>
            <label>Long description</label>
            <input asp-for="LongDescription" value="@Model.LongDescription" />
        </li>
        <li>
            <input type="submit" value="Change" />
        </li>
    </ul>
</form>
<img src="~/logo.png" alt="No logo selected." />
<form method="post" enctype="multipart/form-data" asp-action="UploadLogo">
    <label>Blog logo path.</label>
    <input type="file" name="logo" />
    <input type="submit" value="Upload new logo." />
</form>
<img src="~/icon.ico" alt="No icon selected." />
<form method="post" enctype="multipart/form-data" asp-action="UploadIcon">
    <label>Tab icon path.</label>
    <input type="file" name="icon" />
    <input type="submit" value="Upload new icon." />
</form>