
@{
    Layout = null;
}
@model Blog.Models.ViewModels.AdminPanelViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @await Html.PartialAsync("BlogDataPartial",Model.BlogData)
    <table>
        <tr>POSTS</tr>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Publication Date</th>
            <th>Writen By</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>@post.Id</td>
                <td>@post.Title</td>
                <td>@post.PublicationDate</td>
                <td>@post.AuthorName</td>
                <td><a asp-controller="AdminPanel" asp-action="DeletePost" asp-route-id="@post.Id">Delete</a></td>
                <td><a asp-action="CommentManager" asp-route-id="@post.Id">Manage Comments</a></td>
            </tr>
        }
    </table>
    @if (Model.CurrentUser.IsInRole(Blog.Security.BlogConstants.AdministratorRoleName))
    {
        <a asp-controller="UserManager" asp-action="Index">Manage Users</a>
    }
    @await  Html.PartialAsync("RemoveTagsPartial", Model.Tags)
</body>
</html>
