@model Blog.Models.ViewModels.PostCommentViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Read";
}
<div>
    <main>
        <h1>@Model.Post.Title</h1>
        <p id="date">Published: </p>
        <p>By: @Model.Post.AuthorName</p>
        <article>
            <markdown content="@Model.Post.Content"></markdown>
        </article>
    </main>
    <form asp-action="WriteComment" asp-controller="Home">
        <input asp-for="@Model.Post.Id" value="@Model.Post.Id" type="hidden" />
        <ul>
            <li>
                <input asp-for="@Model.Comment.Author" />
            </li>
            <li>
                <textarea asp-for="@Model.Comment.Content"></textarea>
            </li>
            <li>
                <button type="submit">Post</button>
            </li>
        </ul>
    </form>
    @{ 
        var Url = $"http://{Context.Request.Host}/comments/get/{Model.Post.Id}";
    }
    <div id="comments_app" data-url="@Url" data-loading-icon-path="/assets/load_icon.svg"></div>
</div>
<script src="~/JavaScript/GetDate.js"></script>
<script src="~/JavaScript/comments/main.js"></script>
<script>
        document.getElementById("date").textContent += howLongAgo('@Model.Post.PublicationDate.ToUniversalTime().ToString("o")');
</script>



