@model Blog.Models.ViewModels.PostCommentViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Read";
}
<div>
    <main>
        <header class="post_info_wraper">
            <h1 class="section_title">@Model.Post.Title</h1>
            <p id="date">Published: </p>
            <p>By: <span class="author_data">@Model.Post.AuthorName</span></p>
        </header>
        <article class="post_content_container">
            <markdown content="@Model.Post.Content"></markdown>
        </article>
    </main>
    <form class="comment_form" asp-action="WriteComment" asp-controller="Home">
        <input asp-for="@Model.Post.Id" value="@Model.Post.Id" type="hidden" />
        <label for="comment_author_input">Your name:</label>
        <input min="3" asp-for="@Model.Comment.Author" id="comment_author_input" />
        <label for="comment_content_input">Your comment:</label>
        <textarea min="5" asp-for="@Model.Comment.Content" id="comment_content_input"></textarea>
        <button type="submit">Post</button>
    </form>
    @{
        var Url = $"https://{Context.Request.Host}/comments/get/{Model.Post.Id}";
    }
    <div id="comments_app" data-url="@Url" data-loading-icon-path="/assets/load_icon.svg"></div>
</div>

@section BottomOfThePage {

    <script src="~/JavaScript/GetDate.js"></script>
    <script src="~/JavaScript/comments/main.js"></script>
    <script>
        document.getElementById("date").textContent += howLongAgo('@Model.Post.PublicationDate.ToUniversalTime().ToString("o")');
    </script>

}

@section AdditionalMeta {
    <link type="text/css" rel="stylesheet" href="~/css/comments.css" />
}


