<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="~/css/main.css" />
    <title>@ViewData["Title"] - @ViewData["BlogName"]</title>
</head>
<body>
    <div id="side_bar">
        <div>
            <a asp-controller="Home" asp-action="Index" ><img src="~/logo.png" alt="logo" id="logo"/></a>
            <h1><a asp-controller="Home" asp-action="Index" id="blog_title" class="blog_navigation side_bar_element">@ViewData["BlogName"]</a></h1>
        </div>
        <div id="description">
            <p>@ViewData["Description"]</p>
        </div>
        <ul class="menu">
            <li><a asp-controller="Archive" asp-action="Index" class="blog_navigation">Archive</a></li>
            <li><a asp-controller="About" asp-action="Index" class="blog_navigation">About</a></li>
        </ul>
    </div>
    <div class="container body-content moveable">
        @RenderBody()
    </div>
</body>
</html>
